# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
target/
output/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# IDE
.idea/
*.iml

# Logs
*.log
hs_err_pid*
replay_pid*

# Compiled
*.class
*.jar

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
