
/* From Uiverse.io by satyamchaudharydev */
.spinner[data-v-9cf1ca44] {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: -45px;
}
.spinner span[data-v-9cf1ca44] {
  position: absolute;
  top: 50%;
  left: var(--left);
  width: 35px;
  height: 7px;
  background: rgba(255,255,255,1);
  animation: dominos-9cf1ca44 1s ease infinite;
  box-shadow: 2px 2px 3px 0px black;
}
.spinner span[data-v-9cf1ca44]:nth-child(1) {
  --left: 80px;
  animation-delay: 0.125s;
}
.spinner span[data-v-9cf1ca44]:nth-child(2) {
  --left: 70px;
  animation-delay: 0.3s;
}
.spinner span[data-v-9cf1ca44]:nth-child(3) {
  left: 60px;
  animation-delay: 0.425s;
}
.spinner span[data-v-9cf1ca44]:nth-child(4) {
  animation-delay: 0.54s;
  left: 50px;
}
.spinner span[data-v-9cf1ca44]:nth-child(5) {
  animation-delay: 0.665s;
  left: 40px;
}
.spinner span[data-v-9cf1ca44]:nth-child(6) {
  animation-delay: 0.79s;
  left: 30px;
}
.spinner span[data-v-9cf1ca44]:nth-child(7) {
  animation-delay: 0.915s;
  left: 20px;
}
.spinner span[data-v-9cf1ca44]:nth-child(8) {
  left: 10px;
}
@keyframes dominos-9cf1ca44 {
50% {
    opacity: 0.7;
}
75% {
    transform: rotate(90deg);
}
80% {
    opacity: 1;
}
}
